
/*
.blog-nav{
	background: #2E2F31; 
}

.blog-masthead>{
	background: #2E2F31;
}

*/ 

.credentialsPage{
	align-self: middle; 
}

#credentialImageAlignment{
	padding: 20%; 
}

#apiKeyInfoPic{
	padding: 15%; 
}
 
#serverCode1{
	padding: 5%; 
}
